<br />

<style type="text/css">
    body {
        background-color: #DADADA;
    }

    body > .grid {
        height: 100%;
    }

    .image {
        margin-top: -100px;
    }

    .column {
        max-width: 450px;
    }
</style>

<div class="ui middle center aligned grid">
    <div class="column ">
        <h2 class="ui orange image header">
            <div class="content">
                Войти
            </div>
        </h2>
        <form class="ui large form" name="login" ng-class="{error: accountLogin.model.message != undefined}">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="email" name="email" ng-model="accountLogin.model.email" placeholder="E-mail">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="pass" ng-model="accountLogin.model.pass" placeholder="Пароль">
                    </div>
                </div>
                <div class="ui fluid orange submit button" ng-click="accountLogin.login(123)">Войти</div>
            </div>
            <div class="ui error message">
                <p>{{accountLogin.model.message}}</p>
            </div>
        </form>
        <div class="ui message">
            Впервые на нашем сайте? <a href="#">Регистрация</a>
        </div>
    </div>
</div>